.bubble-container {
  top: 0;
  position: fixed;
  width: 100%;
  height: 300px;
  overflow: hidden;
  z-index: -1;
}

.bubble {
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  animation-name: float;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  bottom: -150px;
}

@keyframes float {
  0% {
    bottom: -150px;
  }
  100% {
    bottom: calc(100% + 50px);
  }
}
